body {
    background-color: lightblue;
    color: black;
    font-family: Arial;
    margin: 0px;
}

header {
    background-color: black; 
    color: lightskyblue; 
    padding: 0px; 
    font-size: 12pt;
    text-align: center;
}

footer {
    background-color: black;
    color: lightskyblue; 
    padding: 0px; 
    font-size: 12pt; 
    text-align: right;
}