body {
    background-color: lightblue;
    color: black;
    font-family: Arial;
    margin: 0px;
}

header {
    background-color: black; 
    color: lightskyblue; 
    padding: 0px; 
    font-size: 12pt;
    text-align: center;
}

footer {
    background-color: black;
    color: lightskyblue; 
    padding: 0px; 
    font-size: 12pt; 
    text-align: right;
}

a {
    color: orange; 
    text-decoration: none;
    color: orange; 
    text-decoration: none;
}

a:visited {
    color: purple;
    background-color: aquamarine;
}

a:hover {
    color: red;
    text-decoration: underline;
    background-color: white;
    font-weight: bold;
}

a:active {
    color: pink;
    background-color: green;
}