body {
    background-color: lightblue;
    color: black;
    font-family: Arial;
    margin: 0px;
}

header {
    background-image: linear-gradient(to right bottom, red, orange, yellow, green, lightblue, blue, purple); 
    color: black; 
    padding: 0px; 
    font-size: 12pt;
    text-align: center;
    transition: 600ms 3s;
}

header:hover {
    transition: 600ms 0.3s;
    background-color: white; 
    color: palevioletred; 
    padding: 0px; 
    font-size: 20pt;
    text-align: center;
}

footer {
    background-color: black;
    color: lightskyblue; 
    padding: 0px; 
    font-size: 12pt; 
    text-align: right;
    transition: 600ms 3s;
}

footer:hover {
    transition: 600ms 0.3s;
    background-color: white; 
    color: palevioletred; 
    padding: 0px; 
    font-size: 20pt;
    text-align: right;
}

a {
    color: orange; 
    text-decoration: none;
    color: orange; 
    text-decoration: none;
    transition: 600ms 5s;
}

a:visited {
    color: purple;
    background-color: aquamarine;
}

a:hover {
    color: red;
    text-decoration: underline;
    background-color: white;
    font-weight: bold;
    transition: 600ms 0.3s;
    text-shadow: -5px 5px 1px black;
    opacity: 1;
}

a:active {
    color: pink;
    background-color: green;
}